<?xml version="1.0" ?>
<robot name="ICRA_parkour_g5r" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <inertial>
      <mass value="200" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://walkgen-environment-data/environments/meshes/rendering/ICRA_parkour_g5r.stl"/>
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1.0"/>
      </material>
    </visual>
    <collision concave="yes">
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://walkgen-environment-data/environments/meshes/rendering/ICRA_parkour_g5r.stl"/>
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>1</static>
  </gazebo>
</robot>
